.latest-article-content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
	margin-top: 56px;
}

.article-image {
	margin-bottom: 30px;
}

.article-info {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-bottom: 2px solid var(--color-dark-Ex);
	padding-bottom: 26px;
}

.article-info h5 {
	color: var(--color-primary);
	font-size: 15px;
	text-transform: capitalize;
}

.article-info h3 {
	font-size: 26px;
	text-transform: capitalize;
}

.latest-article-socials {
	margin-top: 18px;
	display: flex;
	justify-content: space-between;
}

.latest-article-socials p {
	text-transform: uppercase;
	font-size: 15px;
}

.article-social {
	display: flex;
	gap: 20px;
	align-items: center;
}

.article-social a {
	font-size: 15px;
	color: var(--color-dark);
	transition: var(--transition);
}

.article-social a:hover {
	color: var(--color-primary);
}

.latest-container .btn {
	margin: auto;
	margin-top: 66px;
}

/* Max-width: 1024px */
@media (max-width: 1024px) {
	.latest-article-content {
		grid-template-columns: repeat(2, 1fr);
		gap: 40px;
	}
}

/* Max-width: 600px */
@media (max-width: 600px) {
	.latest-article-content {
		grid-template-columns: repeat(1, 1fr);
		gap: 55px;
	}
}
