footer {
	padding-top: 115px;
	background: var(--color-bg-2);
}

.footer-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.footer-container h4 {
	margin-bottom: 22px;
}

.param-links li {
	margin-top: 10px;
	margin-bottom: 20px;
}

.param-links a {
	color: var(--color-dark);
	text-transform: uppercase;
	font-size: 15px;
	transition: var(--transition);
}

.param-links a:hover {
	color: var(--color-primary);
}

/* Max-width: 1024px */
@media (max-width: 1024px) {
	.footer-container {
		grid-template-columns: repeat(2, 1fr);
		text-align: center;
	}
}

/* Max-width: 600px */
@media (max-width: 600px) {
	.footer-container {
		grid-template-columns: repeat(1, 1fr);
	}
}
